@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Podkova:wght@400;700&family=Varela&display=swap');


// Input
$input-focus-border-color: transparent;
$input-focus-color: #F5F5F5;
$input-color: #F5F5F5;
$input-border-color: transparent;
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;
$input-placeholder-color: rgba(255, 255, 255, 0.32);
$input-font-size: 14px;
$input-padding-y: 1rem;
$input-padding-x: 1rem;

$theme-colors: (
  "primary": #4CB3F3,
  "secondary": #042031,
  "gray": #0F0F0F,
  "lightGray": #1F1F1F,
  "lighterGray": #ACACAC
);
  
// Fonts
$krona: 'Krona One', sans-serif;
$podkova: 'Podkova', serif;
$varela: 'Varela', sans-serif;

// input
$input-font-family: $varela;
  
@mixin font-scheme($font, $weight){
  font-family: $font;
  font-weight: $weight;
}
  
@mixin card-scheme($bgColor, $text){
  background-color: $bgColor;
  color: $text;
}

@import "~bootstrap/scss/bootstrap.scss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden
}

// Component styles /////////////////////////////////////////////////////////////
#title {
 
  h3 {
    @include font-scheme($krona, 400);
    font-size: 20px
  }

  h1 {
    @include font-scheme($podkova, 400);
    font-size: 35px
  }
}

#title2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
  @include font-scheme($krona, 400);
  max-width: 900px;

  h1 {
    letter-spacing: 1rem;
    font-size: 30px;
  }

  h3 {
    letter-spacing: 0.7rem;
    font-size: 17px;
  }
}

#navbar {  /////////////////////////////////////////////////////////////////////////
  z-index: 55;
  position: absolute;
  bottom: 30px;

  .nav-selected, .navbar-brand {
    @include font-scheme($krona, 400);
    color: #fff!important;
  }

  .nav-link {
    @include font-scheme($krona, 400);
    color: rgba(255,255,255,0.5);
    font-size: 12px!important;
    margin-right: 2rem;
  } 

  .nav-link:hover {
    cursor: pointer!important;
    color: #fff!important;
  }
}

 /////////////////////////////////////////////////////////////////////////
  .socials-overlay {
    height: 100%;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.50);
    z-index: 50;

    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 40px;
      justify-content: end;

      div{
        display: flex;
        flex-direction: column;
      }

      .menu-icon {
        display: none;
      }
    }

    a {
      margin-top: 1rem;
    }

    a:hover{
      svg{
        color: white!important
      }
    }
  }

  //////////////////////////////////// HOME PAGE //////////////////////////////////////////

#home {
  background: url('./assets/img/landing-page-img.jpg');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;

  .collapse-navigation {
    display: none;

    ul {
      display: none!important;
    }
  }

  .hero-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

}

// ////////////// About 
#about {
  margin-top: 10rem;
  margin-bottom: 10rem;

  #about-img {
    img {
      height: 450px;
      object-fit: cover;
      object-position: center;
    }

    #aboutImg2 {
      position: relative;
      top: 15%;
    }
  }

  #about-paragraph {
    p {
      @include font-scheme($varela, 400);
      line-height: 179%;
      max-width: 550px;
      font-size: 18px;
    }
  }
}

// Services //////////////
#services {
  margin-top: 15rem;
  margin-bottom: 10rem;

  .service-cards {
    h4 {
      @include font-scheme($podkova, 400);
      font-size: 18px
    }
    p {
      @include font-scheme($varela, 400);
      line-height: 179%;
      font-size: 13px;
      color: white
    }
  }
}

// Projects ////////////
#projects {
  margin-top: 15rem;
  margin-bottom: 10rem;
  #project-item {
    position: relative;
    
    .dark-overlay {
      display: none!important;
      padding: 2rem;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(20, 25, 28, .76);

      h4, h5, h2 {
        @include font-scheme($krona, 400)
      }

      h4 {
        max-width: 200px;
        font-size: 16px;
        line-height: 163%;
      }

      h5 {
        letter-spacing: 5px;
      }
    }
  }

  #project-item:hover {
      .dark-overlay {
        display: flex!important;
        cursor: pointer!important;
    }
  }

  .col-md-3 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

// Team ////////////
#team {
  margin-top: 15rem;
  margin-bottom: 10rem;

  #team-member {
    img {
      object-fit: cover;
      object-position: center;
      height: 400px;
    }

    h4, h5 {
      @include font-scheme($krona, 400)
    }

    h4 {
      font-size: 16px;
      letter-spacing: 1px;
    }

    h5 {
      font-size: 12px;
      letter-spacing: 2px;
    }
  }
}

// Testimonials ////////////
#testimonial {
  padding-top: 10rem;
  padding-bottom: 15rem;

  .testimonial-description{
    max-width: 400px;
    color: white;
  }

  #client-reviews {
    h2, h5 {
      @include font-scheme($krona, 400)
    }

    h5 {
      letter-spacing: 1.5px;
      font-size: 12px;
    }
  }

  #comment-slider {
    .slick-dots li.slick-active button:before {
      color: #4CB3F3 !important
     }

     .slick-dots li button:before {
      color: rgba(76, 179, 243, .26) !important
    }

    .slick-track
    {
        display: flex !important;
    }

    .slick-initialized .slick-slide {
      display: flex!important;
    }
    
    .slick-slide
    {
        height: inherit !important;
  
    }
    img {
      object-fit: cover;
      object-position: center;
      height: 95px;
    }

    h3 {
      @include font-scheme($podkova, 700);
      font-size: 24px;
    }

     h5, p {
      @include font-scheme($krona, 400)
     }

     h5 {
      font-size: 12px;
     }

     p {
      font-size: 10px;
      letter-spacing: 1px;
     }

     #comment {
      font-size: 16px!important;
      line-height: 179%;
      @include font-scheme($varela, 400)
     }
  }
}

// GET IN TOUCH ////////////
#getInTouch {
    .col-md-7{
      .row {
        height: 100%;

        .col-6 {
          background-position: center;
          background-size: cover;
          height: 100%;
          width: 100%;
        }
      }
      .p1 {
        background: url('./assets/img/git-pic1.webp');
      }
      .p2 {
        background: url('./assets/img/git-pic2.jpeg');
      }
      .p3 {
        background: url('./assets/img/git-pic3.webp');
      }
      .p4 {
        background: url('./assets/img/git-pic4.jpeg');
      }
    }
  
    .col-md-5{
      padding: 6rem 3rem 6rem 3rem;
      p {
        color: white;
        @include font-scheme($varela, 400);
        font-size: 14px;
      }
    }   
  }


// Contact ////////////
.contact {
  padding-top: 9rem;
  padding-bottom: 2rem;

  h1 {
    @include font-scheme($varela, 400)
  }

  #contact-form {
    margin-top: 2rem;
  }

  .contact-number {
    h3 {
      @include font-scheme($krona, 400);
      font-size: 22px;
    }
  }

  .details {
    h4 {
      @include font-scheme($varela, 400);
      font-size: 20px;
      letter-spacing: 1px;
    }
  }

  .social-icons {
    a:hover {
      cursor: pointer;
    }
  }

  .footer {
    h2, p {
      @include font-scheme($krona, 400)
    }

    h2 {
      font-size: 20px;
    }

    span {
      font-size: 12px;
    }

    a:hover {
      text-decoration: none;
     
    }
  }
}

  .title-header-container {
    position: relative;
    height: 500px;
    width: 100%;
    background-position: center!important;
    background-size: cover!important;
  }

  .title-container {
    margin-top: 10rem;
  }

  .title-header-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.54);
    @include font-scheme($krona, 400);
    color: white;

    h1 {
      letter-spacing: 1rem;
      font-size: 34px;
    }

    h6 {
      margin-top: 1rem;
      letter-spacing: 0.63rem;
    }
  }

  .area-description-container {
    margin-top: 5rem;
    .heading-set {
      @include font-scheme($krona, 400);
      font-size: 20px;

      span:nth-child(1), span:nth-child(2){
        margin-right: 2rem;
      } 
    }

    .area-description {
      margin-top: 2rem;
      margin-bottom: 5rem;

      p {
        text-align: center;
        @include font-scheme($varela, 400);
        max-width: 670px;
        line-height: 2rem;

      }
    }
  }

  .area-carousel-container {
    .carousel-item {
      img {
        height: 500px!important;
        object-fit: cover!important;
        object-position: center!important;
      }
    }
  }


// INDIVIDUAL HOUSE PROJECT PAGES //////////////////
#house-landing {
  min-height: 100vh;
  position: relative;

  .hero-container {
    height: 100vh;
    width: 100%;

    .sub-photos{
      position: absolute;
      display: flex;
      z-index: 150;
      right: 40px;
      bottom: 80px;

      img {
        height: 200px;
        width: 340px;
        margin-right: 2rem;
        object-fit: cover;
      }
    }
  }

  .house-hero-landing.row {
    margin-left: 0px!important;
  }

  .house-hero-landing{
    .col-lg-8 {
      background-position: center!important;
      background-size: cover!important;
      position: relative;
      
      .hero-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.54);
        display: flex;
        justify-content: center;
        padding-top: 10rem;

        h1 {
          @include font-scheme($varela, 400);
          color: white;
          max-width: 300px;
          line-height: 4rem;
          font-size: 45px;
          letter-spacing: 0.24rem;

          span {
            font-size: 54px;
          }
        }
      }
    }

    .col-lg-4 {
      background-color: black;
      display: flex;
      flex-direction: column;
      padding: 5rem;

      .client-interactions {
        @include font-scheme($krona, 400);
        color: white;
        margin-bottom: 2rem;

        h6 {
          font-size: 11px;
          max-width: 180px;
          line-height: 1.4rem;
        }

      }
    }
    height: 100%!important;
    width: 100%!important;
  }

  .socials-overlay {
    .container {
      justify-content: space-between;
    }
    .branding {
      a {
        transform: rotate(90deg);
        @include font-scheme($krona, 400);
        color: white;
        font-size: 20px;
        margin-top: 8rem;

      }
      a:hover{
        text-decoration: none;
      }
    }
  }
}

#house-details {

  #navbar {
  z-index: 55;
  position: relative;
  bottom: 0px;

  .nav-selected, .navbar-brand {
    @include font-scheme($krona, 400);
    color: #fff!important;
  }

  .nav-link {
    @include font-scheme($krona, 400);
    color: rgba(255,255,255,0.5);
    font-size: 12px!important;
    margin-right: 2rem;
  } 

  .nav-link:hover {
    cursor: pointer!important;
    color: #fff!important;
  }
}

.house-info-row {
  background-color: black;
}

.house-info-container {
  display: flex;
  justify-content: center;

  .house-info:nth-child(1), .house-info:nth-child(2){
    margin-right: 3rem;
  }
}
}

//////////////////////////////////////////////////////

#kitchen {
  margin-bottom: 10rem;
  
  .kitchen-grid{
    margin-top: 10rem!important;
    margin-bottom: 10rem!important;

    .kitchen-description{
      padding: 2rem;

      h3 {
        @include font-scheme($podkova, 400);
      }

      p {
        @include font-scheme($varela, 400);
        margin-top: 2rem;
        max-width: 400px;
        font-size: 14px;
        line-height: 2rem;
        text-align: left!important;
        
      }
    }

    .w-100 {
      object-position: center!important;
      object-fit: cover!important;
    }
  }
}

#bedrooms, #bathrooms {
  margin-bottom: 10rem;
}


// Media Query
@media (max-width: 768px) {
  #title {
      h3, h1 {
        text-align: center;
      }
  }

  #title2 {
    h1 {
      font-size: 25px;
    }

    h3 {
      font-size: 12px;
      line-height: 2.4rem;
      letter-spacing: 0.4rem;
      margin-top: 0.3rem!important;
    }
  }

  #navbar {
    display: none!important;
  }


  .area-description-container .heading-set {
    font-size: 11px;
  }

  .area-description {
    p {
      font-size: 14px;
    }
  }

  #house-details {
    .house-info {
      p {
        font-size: 12px;
      }
    }
  }

  #about {
    #about-paragraph {
      .align-self-end {
        align-self: center;
        h3, h1, p {
          text-align: center;
        }
      }
    }
  }

  #services {
    .service-cards {
      .col-md-4 {
        margin-bottom: 2rem;
      }
    }
  }

  #testimonial {
    #client-reviews {
      justify-content: center;
      .d-flex {
        align-items: center;
        justify-content: center;
      }
    }
    #comment-slider {
      margin-top: 2rem;
    }
  }

  .contact {
    .flex-column {
      margin-top: 4rem;
      
      div {
        align-self: flex-start!important;
      }
    }
  }

  #bedrooms {
    .align-items-end {
      align-items: center!important;
      #title {
        h3, h1 {
          text-align: center!important;
        }
     }
    }
  }

  #living-rooms {
    p {
      text-align: center!important;
    }
  }

  #kitchen {
    .kitchen-grid {
      .kitchen-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p, h3 {
          text-align: center!important;
        }
      }
    }
}
}


@media (max-width: 992px) {
  #title2 {
    h3 {
      line-height: 2rem;
      font-size: 14px;
    }
  }

  #home, #house-landing, #house-details {
    .collapse-navigation {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.92);
      z-index: 100;

      ul {
        display: block!important;
        padding-left: 15;
        margin-left: auto;
        margin-right: auto;

        .nav-link {
          @include font-scheme($krona, 400);
          color: rgba(255,255,255,0.5);
          font-size: 20px!important;
          text-transform: uppercase;
          text-align: center;
        } 

        .nav-link:hover {
          cursor: pointer!important;
          color: #fff!important;
        }
      }
    }

    .socials-overlay {
      height: 100px!important;
      width: 100%!important;
      bottom:0!important;
      top: auto!important;
      flex-direction: row;
      z-index: 120;

      a {
        margin-top: 0px!important;
        svg {
          margin-left: 1rem;
        }
      }

      .container {
        justify-content: space-between;
        flex-direction: row-reverse!important;
        align-items: center;
        height: 100%;
        padding-bottom: 0px;

        div{
          flex-direction: row!important;
        }
        .menu-icon {
          display: flex;
        }
        .menu-icon:hover{
          cursor: pointer;
          svg{
            color: white!important;
          }
        }
      }
    }

    #navbar {
      display: none!important;
    }
  }

  #testimonial {
    .testimonial-details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .testimonial-description {
        text-align: center;
      }
    }

    #client-reviews{
      .d-flex {
        text-align: center;
      }
    }
  }

  .title-header-overlay {
    h1 {
      font-size: 20px;
      letter-spacing: 0.3rem;
    }

    h6 {
      font-size: 12px;
      max-width: 350px;
      text-align: center;
      line-height: 1.5rem;
    }
  }

  #house-landing {
    .sub-photos{
      display: none!important;
    }

    .house-hero-landing{
      .hero-overlay{
        padding-top: 0px!important;
        align-items: center;

        h1 {
          text-align: center;

          span{
            font-size: 36px!important;
          }
        }
      }

      .col-lg-4 {
        display: none;
      }
    }

    .socials-overlay{
      .container {
        justify-content: space-between;
      }

      .branding{
        display: none!important;
      }
    }


    img {
      object-fit: cover;
      object-position: center;
      height: 400px!important;
     }
    .carousel-caption {
      display: none;
    }
  }

   #house-details {
    .nav-container {
      margin-top: 0px!important;
    }

    .house-info-row {
      margin-top: 0px!important;
    }
  }
}
