@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Podkova:wght@400;700&family=Varela&display=swap');


$lightGray: #2C383D;
$darkGray: #172024;

// Input
$input-focus-border-color: transparent;
$input-focus-color: #F5F5F5;
$input-color: #F5F5F5;
$input-border-color: transparent;
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;
$input-placeholder-color: rgba(255, 255, 255, 0.32);
$input-font-size: 14px;
$input-padding-y: 1rem;
$input-padding-x: 1rem;

$theme-colors: (
  "gray": #0F0F0F,
  "darkGray": #042031,
  "darkerGray": #1F2A2F,
  "darkestGray": #0A0F11,
  "lightGray": #1F1F1F,
  "lighterGray": #ACACAC,
  "slate": #4CB3F3,
  "darkSlate": #6C8493,
  "primary": #4CB3F3,
  "secondary": #F5F5F5
  );
  
  // Fonts
  $krona: 'Krona One', sans-serif;
  $podkova: 'Podkova', serif;
  $varela: 'Varela', sans-serif;

  // input
  $input-font-family: $varela;
  
  @mixin font-scheme($font, $weight){
    font-family: $font;
    font-weight: $weight;
  }
  
@mixin card-scheme($bgColor, $text){
  background-color: $bgColor;
  color: $text;
}

@import "~bootstrap/scss/bootstrap.scss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden
}

// Component styles
#title {
 
  h3 {
    @include font-scheme($krona, 400);
    font-size: 20px
  }

  h1 {
    @include font-scheme($podkova, 400);
    font-size: 35px
  }
}

#title2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
  @include font-scheme($krona, 400);
  max-width: 900px;

  h1 {
    letter-spacing: 1rem;
    font-size: 30px;
  }

  h3 {
    letter-spacing: 0.7rem;
    font-size: 17px;
  }
}

#navbar {
  z-index: 55;
  position: absolute;
  bottom: 30px;

  .navbar {
    // border-bottom: 1px solid rgba(0,0,0,0.12);
  }

  .no-border {
    border-bottom: none!important;
  }

  .nav-selected, .navbar-brand {
    @include font-scheme($krona, 400);
    color: #fff!important;
  }

  .white-navbar-brand {
    color: #f5f5f5!important;
  }

  .nav-link {
    @include font-scheme($krona, 400);
    color: rgba(255,255,255,0.5);
    font-size: 12px!important;
    margin-right: 1rem;
  } 

  .white-nav-link {
    color: rgba(245,245,245,0.5)!important;
  } 

  .nav-link:hover {
    cursor: pointer!important;
    color: #fff!important;
  }

  .white-nav-link:hover {
    color: #f5f5f5!important;
  } 
}


#home {
  background: url('./assets/img/landing-page-img.jpg');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;

  .socials-overlay {
    height: 100%;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.50);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
    z-index: 50;

    a {
      margin-top: 1rem;
    }

    a:hover{
      svg{
        color: white!important
      }
    }
  }

  .hero-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }


  #carousel-component {
    position: relative;

    .carousel-caption {
      bottom: 13.25rem!important;
      // left: 8%!important;
      text-align: left!important;

      #secondImg {
        h3, h2, p {
          text-align: right!important;
        }

        p {
          align-self: flex-end!important;
        }
      }

      h3 {
        @include font-scheme($krona,400);
        color: #000;
      }
      
      h2 {
        @include font-scheme($podkova,400);
        color: #000;
        font-size: 50px;
      }

      p {
        @include font-scheme($varela,400);
        color: #000;
        line-height: 179%;
        max-width: 550px;
        
      }

    }
   img {
    object-fit: cover;
    object-position: center;
    height: 600px!important;
   }
  }
}

// ////////////// About 
#about {
  margin-top: 10rem;
  margin-bottom: 10rem;

  #about-img {
    img {
      height: 450px;
      object-fit: cover;
      object-position: center;
    }

    #aboutImg2 {
      position: relative;
      top: 15%;
    }
  }

  #about-paragraph {
   

    p {
      @include font-scheme($varela, 400);
      line-height: 179%;
      max-width: 550px;
      font-size: 18px;
    }
  }
}

// Services //////////////
#services {
  margin-top: 15rem;
  margin-bottom: 10rem;

  .service-cards {
    h4 {
      @include font-scheme($podkova, 400);
      font-size: 18px
    }
    p {
      @include font-scheme($varela, 400);
      line-height: 179%;
      font-size: 13px;
      color: white
    }
  }
}

// Projects ////////////
#projects {
  margin-top: 15rem;
  margin-bottom: 10rem;
  #project-item {
    position: relative;
    
    .dark-overlay {
      display: none!important;
      padding: 2rem;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(20, 25, 28, .76);

      h4, h5, h2 {
        @include font-scheme($krona, 400)
      }

      h4 {
        max-width: 200px;
        font-size: 16px;
        line-height: 163%;
      }

      h5 {
        letter-spacing: 5px;
      }
    }
  }

  #project-item:hover {
      .dark-overlay {
        display: flex!important;
        cursor: pointer!important;
    }
  }

  .col-md-3 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

// Team ////////////
#team {
  margin-top: 15rem;
  margin-bottom: 10rem;

  #team-member {
    img {
      object-fit: cover;
      object-position: center;
      height: 400px;
    }

    h4, h5 {
      @include font-scheme($krona, 400)
    }

    h4 {
      font-size: 16px;
      letter-spacing: 1px;
    }

    h5 {
      font-size: 12px;
      letter-spacing: 2px;
    }
  }
}

// Testimonials ////////////
#testimonial {
  padding-top: 10rem;
  padding-bottom: 15rem;

  .testimonial-description{
    max-width: 400px;
    color: white;
  }

  #client-reviews {
    h2, h5 {
      @include font-scheme($krona, 400)
    }

    h5 {
      letter-spacing: 1.5px;
      font-size: 12px;
    }
  }

  #comment-slider {
    .slick-dots li.slick-active button:before {
      color: #4CB3F3 !important
     }

     .slick-dots li button:before {
      color: rgba(76, 179, 243, .26) !important
    }

    .slick-track
    {
        display: flex !important;
    }

    .slick-initialized .slick-slide {
      display: flex!important;
    }
    
    .slick-slide
    {
        height: inherit !important;
  
    }
    img {
      object-fit: cover;
      object-position: center;
      height: 95px;
    }

    h3 {
      @include font-scheme($podkova, 700);
      font-size: 24px;
    }

     h5, p {
      @include font-scheme($krona, 400)
     }

     h5 {
      font-size: 12px;
     }

     p {
      font-size: 10px;
      letter-spacing: 1px;
     }

     #comment {
      font-size: 16px!important;
      line-height: 179%;
      @include font-scheme($varela, 400)
     }
  }
}

// Explore ////////////
#explore {
  background-color: $lightGray;
  .explore-aesthetica {
    position: relative;
    background-image: url('./assets/img/exploreImg.jpg');
    background-position: center;
    background-size: cover;
    min-height: 300px;

    .dark-overlay {
      position: absolute;
      background-color: rgba(0,0,0,0.55);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      h1, h3 {
        @include font-scheme($varela, 400)
      }

      h1 {
        font-size: 54px;
      }

      h3 {
        max-width: 700px;
        line-height: 141.8%;
        font-size: 20px;
      }

     
    }
  }

}

// Contact ////////////
.contact {
  padding-top: 9rem;
  padding-bottom: 2rem;

  h1 {
    @include font-scheme($varela, 400)
  }

  #contact-form {
    margin-top: 2rem;
  }

  .contact-number {
    h3 {
      @include font-scheme($krona, 400);
      font-size: 22px;
    }
  }

  .details {
    h4 {
      @include font-scheme($varela, 400);
      font-size: 20px;
      letter-spacing: 1px;
    }
  }

  .social-icons {
    a:hover {
      cursor: pointer;
    }
  }

  .footer {
    h2, p {
      @include font-scheme($krona, 400)
    }

    h2 {
      font-size: 20px;
    }

    span {
      font-size: 12px;
    }

    a:hover {
      text-decoration: none;
     
    }
  }
}


// INDIVIDUAL HOUSE PROJECT PAGES //////////////////
#house-landing {
  img {
    object-fit: cover;
    object-position: center;
    height: 550px!important;
   }

   .carousel-caption {
    background-color: rgba(0,0,0,0.52)!important;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem 1rem 1.5rem;
    text-align: left!important;

    h4 {
      @include font-scheme($krona, 400);
      font-size: 12px;
      max-width: 100px;
      line-height: 150%;
    }
    
    h5 {
      @include font-scheme($varela, 400);
      font-size: 16px;
    }

   }
}

#house-details {
  p {
    @include font-scheme($varela, 400);
    margin-bottom: 0px;
    color: #f5f5f5
  }

  p:nth-child(1){
    @include font-scheme($krona, 400);
    max-width: 100px;
    font-size: 12px;
  }
}

#living-rooms {
  margin-top: 5rem;
  margin-bottom: 5rem;
  p {
    @include font-scheme(varela, 400);
    font-size: 18px;
  }

  img {
    height: 200px;
    object-fit: cover;
    object-position: center;
    padding-left: 12px;
    padding-right: 1px;
  }

  img:hover {
    cursor: pointer;
  }
}

#kitchen {
  margin-bottom: 5rem;
  #title {
    h3, h1 {
      text-align: right!important;
    }
  }

  #kitchen-description {
    h1 {
      @include font-scheme($podkova, 400)
    }
    p {
      @include font-scheme($varela, 400)
    }
  }

  img {
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
}

#bedrooms {
  margin-bottom: 5rem;
  #title {
    h3, h1 {
      text-align: right!important
    }
  }
  .bedroom-carousel{
    img {
      object-fit: cover;
      object-position: center;
      height: 400px!important;
    }
  }
}

#bathrooms {
  margin-bottom: 10rem;
  .bathroom-carousel{
    img {
      object-fit: cover;
      object-position: center;
      height: 400px!important;
    }
  }
}

#client-engagement {
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 200px;

  .dark-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.62);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    margin-left: 0px!important;
    margin-right: 0px!important;
  }
}


// Media Query
@media (max-width: 576px) {



}

@media (max-width: 768px) {
  #title {
      h3, h1 {
        text-align: center;
      }
    }

    #title2 {
      h1 {
        font-size: 18px;
      }

      h3 {
        font-size: 10px;
        margin-top: 5px!important;
        line-height: 20px;
        letter-spacing: 0.4rem;

      }
    }

  #home {
    .socials-overlay {
      display: none!important;
    }

    #carousel-component {
  
      .carousel-caption {
        bottom: 10.25rem!important;
        text-align: center!important;

        h2 {
          font-size: 38px;
        }

        #secondImg {
          h3, h2, p {
            text-align: center!important;
          }
  
          p {
            align-self: center!important;
          }
        }
      }
    }
  }

  #about {
    #about-paragraph {
      .align-self-end {
        align-self: center;
        h3, h1, p {
          text-align: center;
        }
      }
    }
  }

  #services {
    .service-cards {
      .col-md-4 {
        margin-bottom: 2rem;
      }
    }
  }

  #testimonial {
    #client-reviews {
      justify-content: center;
      .d-flex {
        align-items: center;
        justify-content: center;
      }
    }
    #comment-slider {
      margin-top: 2rem;
    }
  }

  .contact {
    .flex-column {
      margin-top: 4rem;
      
      div {
        align-self: flex-start!important;
      }
    }
  }

  #bedrooms {
    .align-items-end {
      align-items: center!important;
      #title {
        h3, h1 {
          text-align: center!important;
        }
     }
    }
  }

  #living-rooms {
    p {
      text-align: center!important;
    }
  }

  #kitchen {
    .align-items-end {
      align-items: center!important;
    }
    #title {
      h3, h1 {
        text-align: center!important;
      }
    }

    #kitchen-description {
      h1 {
        font-size: 32px;
        text-align: center;
      }

      p {
        text-align: center;
      }
    }

   #dining {
      margin-left: 0px;
      margin-right: 0px;

      .col-md-8 {
        padding-left: 0px;
        padding-right: 0px;
      }
    
   } 
}
}


@media (max-width: 992px) {
  #home {
    .navbar {
      border-bottom: none!important;
    }

    #navbarNav {
      ul {
        margin-top: 1rem;
        padding-left: 1rem;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.9);
      }
    }
  }

  #house-landing {
    img {
      object-fit: cover;
      object-position: center;
      height: 400px!important;
     }
    .carousel-caption {
      display: none;
    }
  }


  #client-engagement {
    min-height: 150px;
    .dark-overlay {
      padding-left: 1rem;
      padding-right: 1rem;
      .col-4 {
        h2 {
          font-size: 24px;
        }

        h5 {
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }
}
